.section-timer {
  margin: 36px 156px;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
}
.timer {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  color: #2e2f42;
}

input {
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;

  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
input:hover {
  border: 1px solid #000;
}
input:active {
  border: 1px solid #4e75ff;
}
input:disabled {
  border: 1px solid #808080;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #2e2f42;

  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
}
button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;

  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
button:disabled {
  background: #cfcfcf;
  color: #989898;
  border: none;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
/* button:hover {
    background: #6c8cff;
  } */

.label {
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
.flatpickr-innerContainer {
  border-radius: 8px;
  background: #f5f5f5;
}
.flatpickr-months {
  background: #f5f5f5;
}
.flatpickr-time {
  background: #f5f5f5;
  color: #2e2f42;

  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.flatpickr-month {
  color: #333;

  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.flatpickr-rContainer {
  color: #2e2f42;

  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
button:not([disabled]):hover {
  background: #6c8cff;
}
